# Documentos internos y archivos de trabajo locales
*.pdf
*.docx
*.xlsx
*.zip
ANEXOS/
ANEXOS copy/
NEW JOB/
OneDrive_1_18-4-2026/
OneDrive_2_18-4-2026/
PRISMA AT/
Respaldos_ZIP/
SENADI_PATENTE_PRISMA/
